.banner {
  object-fit: contain;
  position: relative;
  width: 100%;
  aspect-ratio: 20 / 9;
  overflow: hidden;
  color: white;
}

@media (max-width: 768px) {

  .info {
    text-align: start;
    padding-right: 1.2rem;
  }

  .space {
    margin-left: 6px;
  }

  .banner__button svg {
  margin-right: 6px;
  width: 16px !important;
  height: 16px !important;
  }
}

.banner__videoWrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 120%;
  height: auto;
  border: none;
  pointer-events: none;
}

.banner__videoClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  z-index: 2;
  font-size: 1.5rem;
}

.banner__contents {
  margin-left: 5%;
  padding-top: 10%;
  position: relative;
  z-index: 3;
}

.banner__title {
  font-size: 4vw;
  font-weight: 800;
  text-shadow: 1px 1px 2px black, -1px -1px 5px gray;
}

.banner__description {
  text-shadow: 1px 1px 2px black, -1px -1px 2px gray;
  width: 28vw;
  line-height: 1.3;
  padding-bottom: 2vw;
  font-weight: 500;
  font-size: 1vw;
}

.banner--fadeTop {
  height: 5vw;
  background-image: linear-gradient(0deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111);
}

.banner--fadeBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5vw;
  background-image: linear-gradient(180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111);
}

.banner__buttons {
  display: flex;
  flex-direction: row;
}

.banner__button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  outline: none;
  border: none;
  font-size: 1vw;
  font-weight: 700;
  border-radius: 3px;
  padding: 0.7% 2% 0.7% 2%;
  margin-right: 1%;
}

.banner__button svg {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.banner__button:hover {
  color: #000;
  background-color: rgba(170, 170, 170, 0.9);
  transition: all 0.1s;
}

.play {
  background-color: white;
  color: black;
}

.info {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.info:hover {
  background-color: rgb(74, 74, 74);
  color: white;
}

.space {
  margin-left: 4px;
}
