.kids-page {
  padding: 4rem 5vw;
  color: #fff;
}

.kids-page h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.kids-page p {
  margin-bottom: 2rem;
  color: #ddd;
}

.kids-page h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.kids-page__status {
  margin: 1rem 0;
  color: #bbb;
}

.kids-page__status--error {
  color: #ff8080;
}
